*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #EFEFEF;
}


.my-navbar-container{
    background-color: var(--primary-color);
    padding: 0.5em 1.5%;
}

.my-navbar{
    display: flex;
    justify-content: space-between;
}

.my-navbar .my-logo {
    font-size: 1.75rem;
    font-weight: 900;
    color: #000000;
}

.my-navbar ul{
    display: none;
    margin: 0;
}

.body_container {
    padding: 0 1.5%;
}

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.map{
    height: 70vh;
    border-radius: 10px;
    margin: .5em 0;
    background-color: yellow;
}

.index_page_cards span{
    display: table;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 1em 0 .3em;
    border-bottom: thick solid black;

}

.mechanic_cards_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: .5em;
    padding-bottom: 25em;
}

.mechanic_card{
    display: inline;
    max-width: 272px;
    margin: .5em;
    padding: .5em .5em 2em .5em;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.mechanic_card img{
    max-width: 256px;
    border-radius: .625em;
}

.mechanic_card p{
    font-size: 1.125rem;
    font-weight: 900;
    padding: 0.3125em 0;
}

.mechanic_card span{
    font-size: 0.875rem;
    font-weight: 400;
    border: none;
    margin: 0;
    padding: .3125em 0;
}

.mech-register {
    padding-top: 3em;
}

.my-responsive-form {
    width: 85%;
    margin: 0 auto;
}

.mech-register p {
    font-size: 1.15rem;
    font-weight: 900;
    margin-bottom: .5em;
}

.mech-register input, .mech-register textarea, .mech-register select{
    margin-bottom: .5em;
}

.btn-width {
    width: 100%;
    margin: 0.625em auto;
}

.mech-banner {
    width: 100%;
    height: 30vh;
    margin: .8em 0;
    border-radius: 10px;
}

.mech-banner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mech-content {
    margin: .8em 0 1em;
}

.mech-content h1 {
    font-size: 2.25rem;
    font-weight: 900;
    padding-top: 0;
}

.mech-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.mech-content p {
    font-size: 1.2rem;
    font-weight: 400;
}

.mech-content button {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2em;
}

.view-mech-contact img {
    max-width: 24px;
    margin-right: .5em;
}

.view-mech-contact span {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
}

.working-hours {
    display: table;
    margin: 3em auto;
    padding: .8em;
    background-color: var(--primary-color);
}

.working-hours h3 {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 3px solid #000000;
}

.working-hours-row {
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}

.working-day {
    font-size: 1rem;
    font-weight: 600;
}

.appointment-form-row {
    margin-bottom: .8em;
}

.my-placeholder {
    color: #6C757D;
}

.book-appointment-container {
    width: 100%;
    margin: 3em 0 10em;
    padding: .3em 0;
    background-color: var(--primary-color);
}

.book-appointment {
    margin-top: 3em;
}

.book-appointment h2 {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}


@media only screen and (min-width: 600px){

    .my-navbar ul{
        display: flex;
        align-items: center;
    }

    .my-navbar ul li{
        background-color: #FFFFFF;
        display: inline-block;
        margin: 0 0.3125em;
        padding: 0.3125em 1.25em;
        font-weight: 900;
        font-size: 1rem;
        color: #000000;
    }

    .my-navbar ul li a{
        text-decoration: none;
        color: black;
    }

    .my-responsive-form {
        width: 50%;
    }

    .mech-banner {
        height: 60vmin;
    }

    .mech-content {
        width: 50%;
    }

    .working-hours-flex {
        display: flex;
        justify-content: space-between;
    }

    .working-hours {
        align-self: flex-start;
        margin: .5em 0;
        border-radius: 10px;
    }

}