*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

:root{
    font-size: 14px;
    --primary-color: #EFEFEF;
}

/* because of bootstrap overriding */
p {
    margin: 0;
}
/*  */

.dontDisplay {
    display: none;
}

.no-border {
    border: 0;
}

.my-navbar-container{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

.my-navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.my-navbar .my-logo a{
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 900;
    color: #000000;
}


.my-navbar ul{
    display: none;
    list-style: none;
    margin: 0;
}

.nav-list-item a{
    padding: .5em;
    font-size: .95rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black
}

.nav-list-item a:hover, .active-link {
    background-color: white;
    border-bottom: 4px solid black;
}

.nav-list-item + .nav-list-item {
    margin-left: 1em;
}

.logout-btn {
    margin-left: 1em;
}

.user-loggedIn {
    display: flex;
    align-items: center;
}

.my-user-profile {
    width: 37px;
}

.dropdown {
    position: relative;
    margin-left: .8em;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: calc(100% + .5em);
    background-color: white;
    padding: .75em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu a {
    text-transform: uppercase;
    margin-bottom: .5em;
    background-color: var(--primary-color);
}

.dropdown.active > .mybtn-nav + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.reduced_body {
    width: 85%;
    margin: 0 auto;
}

.map{
    height: 70vh;
    border-radius: 10px;
    margin: .5em 0;
    background-color: yellow;
}

.index_page_cards span{
    display: table;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 1em 0 .3em;
    border-bottom: thick solid black;

}

.mechanic_cards_container {
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    padding-top: .5em;
    padding-bottom: 25em;
}

.mechanic_cards_container a {
    color: black;
}

.mechanic_card{
    display: inline-block;
    position: relative;
    max-width: 272px;
    margin: .5em;
    padding: .5em .5em 2em .5em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid #f2f8f9;
    background-color: var(--primary-color);

}

.mechanic_card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }


.mechanic_card img{
    max-width: 256px;
    border-radius: .625em;
}

.mechanic_card p{
    font-size: 1.125rem;
    font-weight: 900;
    padding: 0.3125em 0;
}

.mechanic_card span{
    font-size: 0.875rem;
    font-weight: 400;
    border: none;
    margin: 0;
    padding: .3125em 0;
}

.mech-register {
    padding-top: 3em;
}

.my-responsive-form {
    width: 85%;
    margin: 0 auto;
}

.mech-register p {
    font-size: 1.15rem;
    font-weight: 900;
    margin-bottom: .5em;
}

.mech-register input, .mech-register textarea, .mech-register select{
    margin-bottom: .5em;
}

.btn-width {
    width: 100%;
    margin: 0.625em auto;
}

.mech-banner {
    width: 100%;
    height: 30vh;
    margin: .8em 0;
    border-radius: 10px;
}

.mech-banner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mech-content {
    margin: .8em 0 1em;
}

.mech-content h1 {
    font-size: 2.25rem;
    font-weight: 900;
    padding-top: 0;
}

.mech-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1em;
}

.mech-content p {
    font-size: 1.2rem;
    font-weight: 400;
}

.mech-content button {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2em;
}

.view-mech-contact img {
    max-width: 24px;
    margin-right: .5em;
}

.view-mech-contact span {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
}

.working-hours {
    display: table;
    margin: 3em auto;
    padding: .8em;
    background-color: var(--primary-color);
}

.working-hours h3 {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 3px solid #000000;
}

.working-hours-row {
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}

.working-day {
    font-size: 1rem;
    font-weight: 600;
}

.appointment-form-row {
    margin-bottom: .8em;
}

.my-placeholder {
    color: #6C757D;
}

.book-appointment-container {
    width: 100%;
    margin: 3em 0 10em;
    padding: .3em 0;
    background-color: var(--primary-color);
}

.book-appointment {
    margin-top: 3em;
}

.section-heading {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.heading-center {
    text-align: center;
}

.recent-appointments {
    margin: 2em 0 4.2em;
}

.appointments-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.appointment-card-container {
    display: table;
    margin: .5em;
    border-radius: 10px;
    background-color: #EFEFEF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.service-cancelled {
    border: 2px solid #E24C4B;
}

.service-approved {
    border: 2px solid #4BAE4F;
}

.service-pending {
    border: 2px solid #FFA300;
}

.service-upcoming {
    border: 2px solid #7DD0CA;
}

.appointment-card {
    min-width: 320px;
    margin: 10px;
}

.appointment-card-title span {
    font-size: .9rem;
    font-weight: 800;
}

.mech-appointment-title {
    display: flex;
    flex-direction: column;
}

.appointment-title-one{
    font-size: .9rem;
    font-weight: 800;
}

.appointment-title-two{
    font-size: .75rem;
    font-weight: 300;
}

.appointment-card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.appointment-card-col {
    display: flex;
}

.appointment-card-content img {
    max-width: 50px;
    margin-right: 1em;
}

.appointment-card-col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .3em 0;
}

.appointment-card-content button {
    align-self: flex-end;
}

.appointment-card-content .span-status {
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 0.075em;
    color: #000000;
}

.appointment-card-content .span-date {
    font-weight: 300;
    font-size: .7rem;
    letter-spacing: .1em;
    color: #000000;
}

.appointment-modal-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    color: #000000;
}

.appointment-modal-content h2{
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    text-align: center;

    color: #000000;
}

.appointment-modal-content span{
    display: block;
    margin-bottom: 1.5em;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.095em;
    text-transform: capitalize;
    text-align: center;
    color: #000000;
}

.appointment-modal-content h3 {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
}



@media only screen and (min-width: 600px){

    :root{
        font-size: 16px;    }

    .my-navbar ul, .user-loggedOut{
        display: flex;
        align-items: center;
    }

    .my-responsive-form {
        width: 50%;
    }

    .mech-banner {
        height: 60vmin;
    }

    .mech-content {
        width: 50%;
    }

    .working-hours-flex {
        display: flex;
        justify-content: space-between;
    }

    .working-hours {
        align-self: flex-start;
        margin: .5em 0;
        border-radius: 10px;
    }

    .appointments-collection {
        justify-content: flex-start;
    }

}